In [2]:
import pandas as pd
import numpy as np
import os

In [10]:
path = "..\\data_raw\\firmographics\\contact_info\\part-00000-54d921cc-a1c4-4ba5-941f-d71e06e76b2d-c000.snappy.parquet"

In [11]:
df = pd.read_parquet(path)
df.columns

Index(['bvd_id_number', 'name_internat', 'name_native',
       'street_no_building_etc_line_1',
       'street_no_building_etc_line_1_native_',
       'street_no_building_etc_line_2',
       'street_no_building_etc_line_2_native_',
       'street_no_building_etc_line_3',
       'street_no_building_etc_line_3_native_',
       'street_no_building_etc_line_4',
       'street_no_building_etc_line_4_native_', 'postcode', 'city',
       'city_native_', 'country', 'country_iso_code',
       'metropolitan_area_in_us_', 'state_or_province_in_us_or_canada_',
       'county_in_us_or_canada_', 'telephone_number', 'fax_number',
       'website_address', 'e_mail_address', 'region_in_country',
       'type_of_region_in_country', 'nuts1', 'nuts2', 'nuts3', 'latitude',
       'longitude'],
      dtype='object')

In [33]:
subdirs = [d for d in os.listdir('ownership_history') if 'links' in d and os.path.isdir(os.path.join('ownership_history', d))]

files_dict = {}

for subdir in subdirs:
    subdir_path = os.path.join('ownership_history', subdir)
    files_dict[subdir] = [os.path.join(subdir_path, f) for f in os.listdir(subdir_path)]

In [34]:
path = files_dict['links_2007'][0]

In [35]:
test = pd.read_parquet(path)

In [36]:
test.to_csv('test.csv', index=False)

In [ ]:
test

,subsidiary_bvd_id,subsidiary_independence_indicator,shareholder_bvd_id,shareholder_independence_indicator,direct_,direct_only_figures_,total_,total_only_figures_,information_date,source,type_of_relation,active_archived,guo_25,guo_50,guo_50c,guo_25c,guo_25_jo,guo_25c_jo
0,GB03890487,D,GBP004409581,-,100.00,100.00,100.00,100.00,20071208,VD,DUO 25,active,GBP004409581,GBP004409581,GB03890487,GB03890487,None,None
1,GB03890487,D,GB03890487,D,n.a.,None,n.a.,None,20071231,VD,GUO 25C,active,GBP004409581,GBP004409581,GB03890487,GB03890487,None,None
2,GB03890487,D,GB03890487,D,n.a.,None,n.a.,None,20071231,VD,DUO 25C,active,GBP004409581,GBP004409581,GB03890487,GB03890487,None,None
3,GB03890487,D,GBP004409581,-,100.00,100.00,100.00,100.00,20071208,VD,GUO 50,active,GBP004409581,GBP004409581,GB03890487,GB03890487,None,None
4,GB03890487,D,GBP004409581,-,100.00,100.00,100.00,100.00,20071208,VD,DUO 50,active,GBP004409581,GBP004409581,GB03890487,GB03890487,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
808955,GB04214568,D,GB05537577,A+,-,None,n.a.,None,20071125,VD,DUO 50C,active,GB05537577,GB05537577,GB05537577,GB05537577,None,None
808956,GB04214568,D,GB04214289,D,>50.00,50.01,>50.00,50.01,20071125,JO,ISH,active,GB05537577,GB05537577,GB05537577,GB05537577,None,None
808957,GB04214571,B+,GB*110147897489,-,50.00,50.00,n.a.,None,20070511,RT,SHH,active,GB*110147897489,None,None,GB04214571,WW*110016673776,None
808958,GB04214571,B+,WW*110016673776,-,50.00,50.00,n.a.,None,20070511,RT,SHH,active,GB*110147897489,None,None,GB04214571,WW*110016673776,None
808959,GB04214571,B+,GB*110147897489,-,50.00,50.00,n.a.,None,20070511,VD,GUO 25,active,GB*110147897489,None,None,GB04214571,WW*110016673776,None

In [31]:
import dask.dataframe as dd

european_countries = ['GB', 'FR', 'DE', 'IT', 'ES', 'NL', 'BE', 'PL', 'SE', 'DK', 'FI', 'PT', 'GR', 'IE', 'AT', 'CH', 'NO']

# Extract the first two characters of 'bvd_id_number' and filter based on European countries


test['subsidiary_country_code'] = test['subsidiary_bvd_id'].str[:2]
test['guo_country_code'] = test['shareholder_bvd_id'].str[:2]

# Keep rows where either 'bvd_country_code' or 'shareholder_country_code' is in the list of European countries
industry_classifications = test[
    test['subsidiary_country_code'].isin(european_countries) | 
    test['guo_country_code'].isin(european_countries)
]

industry_classifications

,subsidiary_bvd_id,subsidiary_independence_indicator,shareholder_bvd_id,shareholder_independence_indicator,direct_,direct_only_figures_,total_,total_only_figures_,information_date,source,type_of_relation,active_archived,guo_25,guo_50,guo_50c,guo_25c,guo_25_jo,guo_25c_jo,subsidiary_country_code,guo_country_code
0,GB03890487,D,GBP004409581,-,100.00,100.00,100.00,100.00,20071208,VD,DUO 25,active,GBP004409581,GBP004409581,GB03890487,GB03890487,None,None,GB,GB
1,GB03890487,D,GB03890487,D,n.a.,None,n.a.,None,20071231,VD,GUO 25C,active,GBP004409581,GBP004409581,GB03890487,GB03890487,None,None,GB,GB
2,GB03890487,D,GB03890487,D,n.a.,None,n.a.,None,20071231,VD,DUO 25C,active,GBP004409581,GBP004409581,GB03890487,GB03890487,None,None,GB,GB
3,GB03890487,D,GBP004409581,-,100.00,100.00,100.00,100.00,20071208,VD,GUO 50,active,GBP004409581,GBP004409581,GB03890487,GB03890487,None,None,GB,GB
4,GB03890487,D,GBP004409581,-,100.00,100.00,100.00,100.00,20071208,VD,DUO 50,active,GBP004409581,GBP004409581,GB03890487,GB03890487,None,None,GB,GB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
808955,GB04214568,D,GB05537577,A+,-,None,n.a.,None,20071125,VD,DUO 50C,active,GB05537577,GB05537577,GB05537577,GB05537577,None,None,GB,GB
808956,GB04214568,D,GB04214289,D,>50.00,50.01,>50.00,50.01,20071125,JO,ISH,active,GB05537577,GB05537577,GB05537577,GB05537577,None,None,GB,GB
808957,GB04214571,B+,GB*110147897489,-,50.00,50.00,n.a.,None,20070511,RT,SHH,active,GB*110147897489,None,None,GB04214571,WW*110016673776,None,GB,GB
808958,GB04214571,B+,WW*110016673776,-,50.00,50.00,n.a.,None,20070511,RT,SHH,active,GB*110147897489,None,None,GB04214571,WW*110016673776,None,GB,WW
808959,GB04214571,B+,GB*110147897489,-,50.00,50.00,n.a.,None,20070511,VD,GUO 25,active,GB*110147897489,None,None,GB04214571,WW*110016673776,None,GB,GB

In [26]:
test['type_of_relation'].unique()
test = test[~test['type_of_relation'].str.contains('DUO')]

In [15]:
test[~test['type_of_relation'].str.contains('DUO') & test['guo_25'].notnull()]['direct_only_figures_']

1           None
3         100.00
5           None
7         100.00
8          50.00
           ...
808954      None
808956     50.01
808957     50.00
808958     50.00
808959     50.00
Name: direct_only_figures_, Length: 495220, dtype: object

In [3]:
files = [f for f in os.listdir('firmografics\\all_addresses') if f.endswith('.parquet')]
full_paths = [os.path.join('firmografics\\all_addresses', f) for f in files]

all_addresses = pd.read_parquet(full_paths[0])

In [5]:
len(full_paths)

950

In [17]:
len(all_addresses.bvd_id_number.unique())

665600

In [6]:
files = [f for f in os.listdir('firmografics\\contact_info') if f.endswith('.parquet')]
full_paths = [os.path.join('firmografics\\contact_info', f) for f in files]

# contact_info = pd.read_parquet(full_paths[0])

In [8]:
files = [f for f in os.listdir('firmografics\\industry_classifications') if f.endswith('.parquet')]
full_paths = [os.path.join('firmografics\\industry_classifications', f) for f in files]

industry_classifications = pd.read_parquet(full_paths[0])

_________________

In [3]:
from pathlib import Path

In [4]:
output_dir = Path('stata_files\\firmografics\\all_addresses')
output_dir.mkdir(parents=True, exist_ok=True)
input_dir = 'firmografics\\all_addresses'

files = [f for f in os.listdir(input_dir) if f.endswith('.parquet')]
full_paths = [os.path.join(input_dir, f) for f in files]

In [ ]:
for idx, file in enumerate(full_paths):
    df = pd.read_parquet(file)
    df = df[['bvd_id_number', 'postcode', 'country_iso_code']]
    df.to_csv(f'stata_files\\firmografics\\all_addresses\\chunk_{idx}.csv', index=False)

In [16]:
output_dir = Path('stata_files\\firmografics\\contact_info')
output_dir.mkdir(parents=True, exist_ok=True)
input_dir = 'firmografics\\contact_info'

files = [f for f in os.listdir(input_dir) if f.endswith('.parquet')]
full_paths = [os.path.join(input_dir, f) for f in files]

In [22]:
def dms_to_decimal(dms):
    import re
    try:
        pattern = re.compile(r'(\d+)°\s*(\d+)\'\s*([\d.]+)"\s*([NSEW])')
        match = pattern.match(dms)
        
        if match:
            degrees, minutes, seconds, direction = match.groups()
            decimal = float(degrees) + float(minutes)/60 + float(seconds)/3600
            
            if direction in ['S', 'W']:
                decimal = -decimal
            
            return decimal
        else:
            return np.nan 
    except Exception:
        return np.nan

       bvd_id_number country_iso_code         latitude         longitude
0       US402547502L               US  39° 48' 54.4" N   75° 49' 42.1" W
1       US402547505L               US  30° 13' 45.7" N    97° 51' 7.6" W
2       US402547508L               US   34° 3' 16.5" N  117° 18' 38.0" W
3       US402547511L               US  35° 18' 25.8" N    119° 1' 9.7" W
4       US402547514L               US  35° 54' 12.4" N   78° 54' 53.4" W
...              ...              ...              ...               ...
471035  US403972607L               US  33° 57' 33.0" N   84° 10' 51.1" W
471036  US403972610L               US  41° 18' 31.5" N   74° 54' 50.6" W
471037  US403972613L               US  41° 42' 52.3" N  111° 48' 50.7" W
471038  US403972616L               US    40° 9' 6.0" N     75° 8' 3.6" W
471039  US403972619L               US  40° 44' 26.2" N    80° 4' 31.2" W

[471040 rows x 4 columns]

In [ ]:
for file in full_paths:
    df = pd.read_parquet(file)
    variables = ['bvd_id_number', 'country_iso_code', 'latitude', 'longitude']
    df = df[variables]
    df['latitude'] = df['latitude'].apply(dms_to_decimal)
    df['longitude'] = df['longitude'].apply(dms_to_decimal)
    df.to_csv(f'stata_files\\firmografics\\contact_info\\chunk_{idx}.csv', index=False)

In [24]:
file1['latitude'].apply(dms_to_decimal)
file1['longitude'].apply(dms_to_decimal)

0         -75.828361
1         -97.852111
2        -117.310556
3        -119.019361
4         -78.914833
             ...
471035    -84.180861
471036    -74.914056
471037   -111.814083
471038    -75.134333
471039    -80.075333
Name: longitude, Length: 471040, dtype: float64

In [15]:
1file1['latitude'] = file1['latitude'].apply(dms_to_decimal)
file1['longitude'] = file1['longitude'].apply(dms_to_decimal)
file1

       bvd_id_number country_iso_code latitude longitude
0       US402547502L               US     None      None
1       US402547505L               US     None      None
2       US402547508L               US     None      None
3       US402547511L               US     None      None
4       US402547514L               US     None      None
...              ...              ...      ...       ...
471035  US403972607L               US     None      None
471036  US403972610L               US     None      None
471037  US403972613L               US     None      None
471038  US403972616L               US     None      None
471039  US403972619L               US     None      None

[471040 rows x 4 columns]