In [1]:
import pandas as pd
import numpy as np
import os

In [4]:
key_financials_path = "..\\data_raw\\key_financials\\key_financials_eur\part-00001-d5e63738-ec0f-45f1-9e6e-e90c27a22308-c000.snappy.parquet"
historicals_path = "..\\data_raw\\ownership_history\\links_2016\\part-00000-0a8d598b-34d5-46fe-8e4e-12a02206fbc1-c000.snappy.parquet" 
legal_info_path = "..\\data_raw\\firmographics\\legal_info\\part-00000-7ace73a0-3def-48c9-9b7c-99284c0e0049-c000.snappy.parquet"
contact_info = "..\\data_raw\\firmographics\\contact_info\\part-02360-54d921cc-a1c4-4ba5-941f-d71e06e76b2d-c000.snappy.parquet"

<>:1: SyntaxWarning: invalid escape sequence '\p'
<>:1: SyntaxWarning: invalid escape sequence '\p'
C:\Users\TR049283\AppData\Local\Temp\ipykernel_3876\1791113151.py:1: SyntaxWarning: invalid escape sequence '\p'
  key_financials_path = "..\\data_raw\\key_financials\\key_financials_eur\part-00001-d5e63738-ec0f-45f1-9e6e-e90c27a22308-c000.snappy.parquet"

In [10]:
df = pd.read_parquet(key_financials_path)
df.columns

Index(['bvd_id_number', 'consolidation_code', 'filing_type', 'closing_date',
       'number_of_months', 'audit_status', 'accounting_practice',
       'source_for_publicly_quoted_companies_', 'original_units',
       'original_currency', 'exchange_rate_from_original_currency',
       'operating_revenue_turnover_', 'p_l_before_tax',
       'p_l_for_period_net_income_', 'cash_flow', 'total_assets',
       'shareholders_funds', 'current_ratio_x_', 'profit_margin_',
       'roe_using_p_l_before_tax_', 'roce_using_p_l_before_tax_',
       'solvency_ratio_asset_based_', 'price_earning_ratio_x_',
       'number_of_employees', 'market_capitalisation_mil_'],
      dtype='object')

In [13]:
df[['bvd_id_number', 'closing_date', 'total_assets']]

        bvd_id_number closing_date  total_assets
0          RU56826172   2015-12-31      484628.0
1          RU56826172   2014-12-31      647157.0
2          RU56826172   2013-12-31      461042.0
3          RU56826172   2012-12-31      457706.0
4          RU56826172   2011-12-31      545122.0
...               ...          ...           ...
2344955    GB04056915   2007-08-31        4902.0
2344956    GB04056915   2006-08-31        6353.0
2344957    GB04056915   2005-08-31       38821.0
2344958    GB04056915   2004-08-31       31597.0
2344959    GB04056915   2003-08-31       16638.0

[2344960 rows x 3 columns]

In [20]:
df.type_of_relation.value_counts()

type_of_relation
SHH        642062
GUO 25     410488
GUO 25C    327780
DUO 25C    326858
ISH        245563
DUO 25     245064
GUO 50     237157
DUO 50     237157
GUO 50C    236797
DUO 50C    236797
CTP          2083
HQ            994
Name: count, dtype: int64

In [ ]:
df.loc[(df.type_of_relation=='ISH') | (df.type_of_relation=='GUO 25')]

,subsidiary_bvd_id,subsidiary_independence_indicator,shareholder_bvd_id,shareholder_independence_indicator,direct_,direct_only_figures_,total_,total_only_figures_,information_date,source,type_of_relation,active_archived,guo_25,guo_50,guo_50c,guo_25c,guo_25_jo,guo_25c_jo
0,RO15110869,B+,RO*110021000020,-,50.00,50.00,n.a.,None,20160809,VD,GUO 25,active,RO*110021000020,None,None,RO15110869,None,None
4,RO15110869,B+,RO*110021000020,-,50.00,50.00,n.a.,None,20160809,CC,ISH,active,RO*110021000020,None,None,RO15110869,None,None
6,RO15110893,D,RO*554672356,-,100.00,100.00,100.00,100.00,20160809,VD,GUO 25,active,RO*554672356,RO*554672356,RO15110893,RO15110893,None,None
14,RO15110893,D,RO*554672356,-,100.00,100.00,100.00,100.00,20160809,CC,ISH,active,RO*554672356,RO*554672356,RO15110893,RO15110893,None,None
17,RO15110923,D,RO*110143075806,-,80.00,80.00,n.a.,None,20160809,VD,GUO 25,active,RO*110143075806,RO*110143075806,RO15110923,RO15110923,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3148785,RO24439357,B+,RO*554033787,-,50.00,50.00,n.a.,None,20160423,VD,GUO 25,active,RO*554033786,None,None,RO24439357,RO*554033787,None
3148790,RO24439365,B+,RO*554033788,-,50.00,50.00,n.a.,None,20160814,VD,GUO 25,active,RO*554033788,None,None,RO24439365,RO*555702630,None
3148791,RO24439365,B+,RO*555702630,-,50.00,50.00,n.a.,None,20160814,VD,GUO 25,active,RO*554033788,None,None,RO24439365,RO*555702630,None
3148796,RO24439373,B+,RO*554033790,-,50.00,50.00,n.a.,None,20160809,VD,GUO 25,active,RO*554033790,None,None,RO24439373,RO*554033791,None
3148797,RO24439373,B+,RO*554033791,-,50.00,50.00,n.a.,None,20160809,VD,GUO 25,active,RO*554033790,None,None,RO24439373,RO*554033791,None

:

In [ ]:
subdirs = [d for d in os.listdir('ownership_history') if 'links' in d and os.path.isdir(os.path.join('ownership_history', d))]

files_dict = {}

for subdir in subdirs:
    subdir_path = os.path.join('ownership_history', subdir)
    files_dict[subdir] = [os.path.join(subdir_path, f) for f in os.listdir(subdir_path)]

In [ ]:
path = files_dict['links_2007'][0]

In [ ]:
test = pd.read_parquet(path)

In [ ]:
test.to_csv('test.csv', index=False)

In [ ]:
test

In [ ]:
import dask.dataframe as dd

european_countries = ['GB', 'FR', 'DE', 'IT', 'ES', 'NL', 'BE', 'PL', 'SE', 'DK', 'FI', 'PT', 'GR', 'IE', 'AT', 'CH', 'NO']

# Extract the first two characters of 'bvd_id_number' and filter based on European countries


test['subsidiary_country_code'] = test['subsidiary_bvd_id'].str[:2]
test['guo_country_code'] = test['shareholder_bvd_id'].str[:2]

# Keep rows where either 'bvd_country_code' or 'shareholder_country_code' is in the list of European countries
industry_classifications = test[
    test['subsidiary_country_code'].isin(european_countries) | 
    test['guo_country_code'].isin(european_countries)
]

industry_classifications

In [ ]:
test['type_of_relation'].unique()
test = test[~test['type_of_relation'].str.contains('DUO')]

In [ ]:
test[~test['type_of_relation'].str.contains('DUO') & test['guo_25'].notnull()]['direct_only_figures_']

In [ ]:
files = [f for f in os.listdir('firmografics\\all_addresses') if f.endswith('.parquet')]
full_paths = [os.path.join('firmografics\\all_addresses', f) for f in files]

all_addresses = pd.read_parquet(full_paths[0])

In [ ]:
len(full_paths)

In [ ]:
len(all_addresses.bvd_id_number.unique())

In [ ]:
files = [f for f in os.listdir('firmografics\\contact_info') if f.endswith('.parquet')]
full_paths = [os.path.join('firmografics\\contact_info', f) for f in files]

# contact_info = pd.read_parquet(full_paths[0])

In [ ]:
files = [f for f in os.listdir('firmografics\\industry_classifications') if f.endswith('.parquet')]
full_paths = [os.path.join('firmografics\\industry_classifications', f) for f in files]

industry_classifications = pd.read_parquet(full_paths[0])

_________________

In [ ]:
from pathlib import Path

In [ ]:
output_dir = Path('stata_files\\firmografics\\all_addresses')
output_dir.mkdir(parents=True, exist_ok=True)
input_dir = 'firmografics\\all_addresses'

files = [f for f in os.listdir(input_dir) if f.endswith('.parquet')]
full_paths = [os.path.join(input_dir, f) for f in files]

In [ ]:
for idx, file in enumerate(full_paths):
    df = pd.read_parquet(file)
    df = df[['bvd_id_number', 'postcode', 'country_iso_code']]
    df.to_csv(f'stata_files\\firmografics\\all_addresses\\chunk_{idx}.csv', index=False)

In [ ]:
output_dir = Path('stata_files\\firmografics\\contact_info')
output_dir.mkdir(parents=True, exist_ok=True)
input_dir = 'firmografics\\contact_info'

files = [f for f in os.listdir(input_dir) if f.endswith('.parquet')]
full_paths = [os.path.join(input_dir, f) for f in files]

In [ ]:
def dms_to_decimal(dms):
    import re
    try:
        pattern = re.compile(r'(\d+)°\s*(\d+)\'\s*([\d.]+)"\s*([NSEW])')
        match = pattern.match(dms)
        
        if match:
            degrees, minutes, seconds, direction = match.groups()
            decimal = float(degrees) + float(minutes)/60 + float(seconds)/3600
            
            if direction in ['S', 'W']:
                decimal = -decimal
            
            return decimal
        else:
            return np.nan 
    except Exception:
        return np.nan

In [ ]:
for file in full_paths:
    df = pd.read_parquet(file)
    variables = ['bvd_id_number', 'country_iso_code', 'latitude', 'longitude']
    df = df[variables]
    df['latitude'] = df['latitude'].apply(dms_to_decimal)
    df['longitude'] = df['longitude'].apply(dms_to_decimal)
    df.to_csv(f'stata_files\\firmografics\\contact_info\\chunk_{idx}.csv', index=False)

In [ ]:
file1['latitude'].apply(dms_to_decimal)
file1['longitude'].apply(dms_to_decimal)

In [ ]:
1file1['latitude'] = file1['latitude'].apply(dms_to_decimal)
file1['longitude'] = file1['longitude'].apply(dms_to_decimal)
file1